@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-green: #00523F;
  --color-white: #fff;
  --color-yellow: #FFC42A;
  --color-red: #FF3D3D;

}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-green)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Acme, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--color-white);
}

#root {
  width: 100vw;
  height: 100vh;
}

.link {
  color: var(--color-yellow);
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

.link:hover {
  opacity: .7;
}

.btn {
  color: var(--color-green);
  padding: 24px 10px;
  background: var(--color-yellow);
  text-align: center;
  border-radius: 21px;
  border: none;
  outline: none;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
}